<app-main-menu></app-main-menu>
<mat-toolbar>
  <div class="layer-titolo container">
    <div class="nav-container">
      <div class="menu-container" fxLayout="row" fxLayout.xs="column">
        <button mat-button>
          <mat-icon class="title-icon">dashboard</mat-icon>
          <span id="titolo-sito">
            Dashboard Concorsi Pubblici </span>
        </button>
      </div>
      </div>
  </div>
</mat-toolbar>
<app-second-menu></app-second-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>
