.card {
  margin-top: 16px;
  height: 250px;
  width: 350px;
  background-color: #FFFFFF;
}

.card-container {
  margin: 10px;
}

.card-titoloConcorso {
  font-size: larger;
  font-weight: bolder;
  text-transform: uppercase;
  color: #1c2024;
}

.card-btn {
  height: 40px;
  font-size: 20px;
  background-color: #0073e6;
}
