<div class="container-page"s>
  <div fxLayout="row">
    <h1 class="container-title">
      Anagrafica
    </h1>
  </div>
  <div fxLayout="row">
    <div fxFlex="50" fxFlex.xs="100" fxFlex.lt-md="100">
      <p>
        I dati presenti nella sezione anagrafica provengono dall’autenticazione e non sono
        modificabili. Puoi modificare i dati della residenza e dei recapiti ai fini di eventuali contatti da
        parte del Dipartimento o per ricevere eventuali comunicazioni.
      </p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayout.lt-lg="column" fxLayout.xs="column">
  <div fxFlex fxLayout="column">
    <h2 >Dati anagrafici</h2>

    <div class="anagrafica-form" fxLayout="column">

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Cognome</mat-label>
          <input matInput value="Rossi">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nome</mat-label>
          <input matInput value="Mario">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Data di nascita</mat-label>
          <input matInput value="02/12/1995">
        </mat-form-field>

      </div>

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Stato nascita</mat-label>
          <input matInput value="Italia">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Provincia</mat-label>
          <input matInput value="Roma">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Comune di nascita</mat-label>
          <input matInput value="Roma">
        </mat-form-field>

      </div>

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Domicilio digitale</mat-label>
          <input matInput value="me@mario.rossi.it">
        </mat-form-field>

        <div fxFlex></div>
        <div fxFlex></div>
      </div>
    </div>


    <h2>Recapiti</h2>

    <div class="anagrafica-form" fxLayout="column">

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Telefono</mat-label>
          <input matInput value="32020200021">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Telefono</mat-label>
          <input matInput value="32020200021">
        </mat-form-field>

      </div>

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Email PEC</mat-label>
          <input matInput value="pec@mail.it">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Email ordinaria</mat-label>
          <input matInput value="rossi@mail.it  ">
        </mat-form-field>
      </div>
    </div>

    <h2>Residenza</h2>

    <div class="anagrafica-form" fxLayout="column">

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Stato</mat-label>
          <input matInput value="Italia">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Provincia</mat-label>
          <input matInput value="Roma">
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Comune</mat-label>
          <input matInput value="Roma">
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Cap</mat-label>
          <input matInput value="00111">
        </mat-form-field>

      </div>

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Indirizzo</mat-label>
          <input matInput value="viale europa">
        </mat-form-field>

      </div>
    </div>


    <h2>Recapito Comunicazioni diverso dalla residenza</h2>

    <div class="anagrafica-form" fxLayout="column">

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Stato</mat-label>
          <input matInput value="Italia">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Provincia</mat-label>
          <input matInput value="Roma">
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Comune</mat-label>
          <input matInput value="Roma">
        </mat-form-field>


        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Cap</mat-label>
          <input matInput value="00111">
        </mat-form-field>

      </div>

      <div fxLayout="row"  fxLayout.xs="column">

        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Indirizzo</mat-label>
          <input matInput value="viale europa">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxFlex="50" class="anagrafica-form">
    <div fxLayout="column" class="paragrafo" >
      <p>
        Si ricorda che la compilazione del presente modulo è ritenuta equivalente alle istanze e
        alle dichiarazioni sottoscritte con firma autografa apposta in presenza del dipendente addetto
        al procedimento, ai sensi del combinato disposto dell&#39;art. 38 comma 2 del d.P.R. n. 445 del
        2000 e dell’art. 65 cc. 1 lett. b), e 2 del d.lgs. n. 82 del 2005.
      </p>
      <p>
        Ai sensi degli <strong> artt. 75 e 76 del d.P.R. n. 445 del 2000</strong>, chiunque fornisca dichiarazioni
        mendaci sarà punito ai sensi del codice penale e delle leggi speciali in materia, decadendo dai
        benefici eventualmente conseguiti attraverso il provvedimento emanato sulla base delle
        dichiarazioni sostitutive di certificazione e degli atti di notorietà non veritieri forniti.
      </p>
      <p>
        Ai sensi del decreto legislativo del 30 giugno 2003 n.196 e sue modifiche ed integrazioni,
        si informa che il trattamento dei dati personali forniti dai candidati avverrà, anche con
        strumenti informatici, esclusivamente per le finalità della procedura concorsuale. Il
        conferimento dei dati è obbligatorio ai fini della verifica dei requisiti di partecipazione e della
        valutazione dei titoli dei candidati. Esclusivamente ai fini della verifica, i dati forniti potranno
        essere portati a conoscenza degli enti di volta in volta interessati. I candidati hanno facoltà di
        esercitare in qualunque momento i diritti di cui all’art.9 del bando di concorso.
      </p>

      <button id="anagrafica-btn" mat-flat-button>Salva anagrafica</button>
    </div>

 </div>
  </div>
</div>
