.divider {
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.anagrafica-form {
  margin-left: 25px;
  margin-right: 25px;
  width: 900px;
}

h2 {
  color: #5a6772;
}

#anagrafica-btn {
  background-color: #0066cc;
  color: #FFFFFF;
  height: 56px;
  font-size: 28px;
  margin-top: 14px;
  margin-bottom: 14px;
}
