<mat-toolbar>
    <div class="nav-container">
      <div class="menu-container" fxLayout="row" fxLayout.xs="column">
        <button  [routerLink]="['/']" mat-button>
          <span >HOME</span>
        </button>
        <button [routerLink]="['/mie-domande']" mat-button>
          <span  >LE MIE DOMANDE</span>
        </button>
        <button mat-button>
          <span>PRESENTA UNA DOMANDA</span>
        </button>
        <button   [routerLink]="['/dati-anagrafici']" mat-button>
          <span>PROFILO</span>
        </button>
      </div>
    </div>
</mat-toolbar>
