<div class="container-page" fxLayout="column" fxFlex="60" fxFlex.xs="100" fxFlex.lt-md="100" >
 <div fxLayout="row">
   <h1 class="container-title">
     Benvenuto
   </h1>
   <h1 class="container-title stronger" fxFlex>
     Mario Rossi
   </h1>
 </div>

  <div class="container-text">
    <p>
      Per la presentazione della domanda-online per i concorsi per i quali è possibile
      presentare la domanda di partecipazione, utilizza il link  <strong>Presenta una domanda </strong>
    </p>
    <p>
      La domanda si potrà compilare, modificare ed anche revocare, entro e non oltre il
      termine di 30 giorni a decorrere dal giorno successivo alla pubblicazione del bando. <br>
    </p>
    <p>
      Nella sezione accessibile attraverso il link  <strong>Le mie Domande</strong>, l’utente
      può consultare le domande già presentate, con la possibilità di scaricare il pdf della domanda e
      qualora ancora nei termini della scadenza del bando, modifica e revocare completamente
      l’istanza di partecipazione.
    </p>
  </div>

</div>
