/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "assets/scss/colors";
html, body { height: 100%; }
body { margin: 0; font-family: 'Titillium Web', sans-serif; background-color: #fafafa}

.mat-toolbar {
  background-color: $primary;
  color: #FFFFFF;

  .mat-icon {
    color: #FFFFFF;
    padding-bottom: 3px;
    margin-right: 3px;
  }
  span {
    color: #FFFFFF;
    font-size: medium;
    text-transform: capitalize;
    font-weight: 400;
  }

}

p {
  color: #5a6772;
  font-size: larger;
  line-height: 1.55;
}

h1 {
  font-size: 40px;
}

strong {
  color: #5a6772;
  font-weight: bolder;
}

.container {
  margin: 0 auto;
  max-width: 1800px;
}


.nav-container {
  max-width: 1800px;
  width: 1800px;
  margin: 0 auto;
}


.menu-container {
  margin: 0 auto;
}



.container-page {
  margin: 10px;
}
.container-title {
  color: #5a6772;
  margin-bottom: 0;
  margin-top: 5px;
  padding-right: 10px;
}

.container-text {
  text-align: justify;
}
.stronger {
  color: #5a6772;
}

.toolbar-concorsi {
  background-color: #f1f1f1;
  color: #1c2024;
}

.concorso-card {
  margin: 20px;
}

